.container {
  max-width: 1201px;
  margin: auto; }

body {
  padding: 0;
  margin: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 16px; }

.phone {
  font-family: "Roboto", sans-serif;
  text-decoration: none; }
  .phone__gray {
    color: #777777;
    font-weight: 300; }
  .phone__black {
    color: #000000;
    font-weight: 700; }

.logo {
  display: flex;
  align-items: center;
  padding-top: 3px; }
  .logo__img {
    padding-top: 4px; }
  .logo__name {
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: #000000;
    margin-left: 0.75rem;
    font-size: 1.25rem;
    font-weight: 900;
    text-transform: uppercase;
    font-variant: small-caps;
    letter-spacing: 0.04rem;
    text-decoration: none; }

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 1.875rem 27px; }
  .menu__ul {
    padding: 0;
    padding-top: 0.375rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 31.75rem; }
  .menu__link {
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.07rem; }
  .menu__href {
    text-decoration: none;
    color: #777777;
    transition: 0.2s; }
    .menu__href:hover {
      color: #000000; }
    .menu__href:active, .menu__href:checked {
      color: #000000;
      position: relative; }
      .menu__href:active::after, .menu__href:checked::after {
        content: "";
        position: absolute;
        bottom: -33px;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background-color: #0056cf; }
  .menu__contacts {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8rem;
    margin-left: 3.125rem; }

.hero {
  background: url("../img/hero.png") no-repeat center;
  height: 155vh; }
