@charset "UTF-8";
.container {
  max-width: 1201px;
  margin: auto;
  padding: 0 1.875rem;
  position: relative; }

.col {
  display: flex;
  flex-direction: column; }

.col-23 {
  max-width: 23%; }

.col-23-fb {
  flex-basis: 23%; }

.col-25 {
  flex-basis: 25%; }

.col-31 {
  flex-basis: 31.5%; }

.col-30 {
  flex-basis: 30%; }

.col-32 {
  flex-basis: 32%; }

.col-33 {
  flex-basis: 33%; }

.col-40 {
  flex-basis: 40%; }

.col-48-6 {
  flex-basis: 48.6%; }

.col-49 {
  flex-basis: 49%; }

.col-50 {
  flex-basis: 50%; }

.col-60 {
  flex-basis: 60%; }

body {
  padding: 0;
  margin: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

.phone {
  font-family: "Roboto", sans-serif;
  text-decoration: none; }
  .phone__gray {
    color: #777777;
    font-weight: 300; }
  .phone__black {
    color: #000000;
    font-weight: 700; }

.color__blue {
  color: #06bee1; }

.button {
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 700;
  outline: none;
  cursor: pointer; }
  .button--primary {
    font-size: 1rem;
    box-shadow: 0 0.75rem 1.5rem rgba(6, 57, 158, 0.32);
    background-color: #0842b7;
    color: #ffffff;
    border: none;
    transition: 0.2s; }
    .button--primary:hover, .button--primary:active, .button--primary:checked {
      box-shadow: none; }
  .button--info {
    font-size: 0.9375rem;
    color: #0842b7;
    border: 1px solid #0842b7;
    background-color: transparent; }
  .button--silver {
    font-size: 1rem;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: transparent; }

.row {
  display: flex;
  justify-content: space-between; }
  .row__bottom {
    align-items: flex-start; }

.align-start {
  align-items: flex-start; }

.light {
  font-weight: 300; }

.bold {
  font-weight: 700; }

.section-header {
  margin: 0;
  text-align: center;
  color: #0f1c2e;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 2.625rem; }

.section-info {
  margin: 0;
  text-align: center;
  color: #0f1c2e;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem; }

.label__calculator {
  color: #000000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem; }

input, button {
  outline: none; }
  input:hover, input:active, input:checked, button:hover, button:active, button:checked {
    outline: none; }

.swiper-button-next, .swiper-button-prev {
  outline: none; }
  .swiper-button-next:hover, .swiper-button-next:active, .swiper-button-next:checked, .swiper-button-prev:hover, .swiper-button-prev:active, .swiper-button-prev:checked {
    outline: none; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 199; }

.logo {
  display: flex;
  align-items: center;
  padding-top: 3px; }
  .logo__img {
    padding-top: 4px; }
  .logo__name {
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: #000000;
    margin-left: 0.75rem;
    font-size: 1.25rem;
    font-weight: 900;
    text-transform: uppercase;
    font-variant: small-caps;
    letter-spacing: 0.04rem;
    text-decoration: none; }

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0 27px; }
  .menu__ul {
    padding: 0;
    padding-top: 0.375rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 31.75rem; }
  .menu__link {
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.07rem; }
  .menu__href {
    text-decoration: none;
    color: #777777;
    transition: 0.2s; }
    .menu__href:hover {
      color: #000000; }
    .menu__href:active, .menu__href:checked {
      color: #000000;
      position: relative; }
      .menu__href:active::after, .menu__href:checked::after {
        content: "";
        position: absolute;
        bottom: -33px;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background-color: #0056cf; }
  .menu__contacts {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8rem;
    margin-left: 3.125rem; }

.hero {
  padding: 15.4rem 0 20.4rem;
  background: url("../img/hero.png") no-repeat center;
  background-size: cover; }
  .hero__name {
    margin: 0;
    margin-left: -5px;
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 5.225rem‬;
    color: #000000; }
  .hero__title {
    margin: 0;
    margin-top: -3px;
    font-size: 2.25rem;
    font-weight: 300; }
  .hero__description {
    margin: 1.374rem 0 4rem;
    max-width: 22.5rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.56rem; }
  .hero__interaction {
    display: flex;
    margin-bottom: 17.2rem; }
  .hero__button {
    display: flex;
    flex-direction: column;
    margin-right: 3.3125rem; }
  .hero .button--primary {
    padding: 0.9375rem 2.5rem;
    word-spacing: -1px;
    margin-bottom: 0.75rem; }
  .hero .button--info {
    padding: 0.9375rem 2.125rem;
    word-spacing: -1px; }
  .hero__offer {
    margin: 0;
    padding-top: 0.875rem;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.8125rem;
    max-width: 20.3125rem;
    color: #0f1c2e; }

.question {
  padding-top: 1rem;
  padding-bottom: 6rem;
  position: relative; }
  .question .top {
    margin-top: -21.4rem; }
  .question__title-header {
    margin: 0;
    display: block;
    max-width: 293px;
    padding: 0.8125rem 1.4375rem 0.875rem 0.875rem;
    color: #000000;
    font-size: 2.3125rem;
    font-weight: 300;
    background-color: #ffffff; }
  .question__info {
    margin: 0;
    margin-top: 10.37rem;
    margin-left: -1.1rem;
    margin-bottom: 2.7rem;
    max-height: 100%;
    font-size: 21.375rem;
    font-weight: 100;
    line-height: 5.056875rem;
    letter-spacing: -1.06255rem; }
  .question__percent {
    margin-left: -2.31255rem;
    font-size: 7rem;
    font-weight: 100; }
  .question__description {
    margin-bottom: 0.5rem;
    max-width: 16.9375rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8625rem;
    color: #0f1c2e; }
    .question__description-info {
      max-width: 13.875rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem; }
  .question .analysis {
    margin-top: 1.0625rem; }
  .question__text-title {
    margin-top: 4.3rem;
    margin-bottom: 0.5rem;
    max-width: 11.8755rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8625rem;
    color: #0f1c2e; }
  .question__text-info {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: #000000;
    max-width: 16.8755rem; }
  .question__offer {
    width: 100%; }
  .question__extra {
    margin-top: -1.8rem;
    justify-content: flex-end; }

.calculator {
  position: relative;
  padding-top: 6.6rem;
  padding-bottom: 7.5rem;
  background: url("../img/bg_calc.svg") no-repeat bottom; }
  .calculator::before {
    content: "";
    position: absolute;
    top: 0;
    width: 80%;
    left: 10%;
    right: 10%;
    margin: auto;
    height: 1px;
    background-color: #eaf1f7; }
  .calculator__section-header {
    max-width: 31.25rem;
    margin: 0 auto;
    margin-bottom: 1.4rem; }
  .calculator__section-info {
    max-width: 22.875rem;
    margin: 0 auto;
    margin-bottom: 3.45rem; }
  .calculator__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.45rem; }
  .calculator-header {
    margin: 0;
    max-width: 17.1875rem;
    margin-bottom: 2rem;
    color: #0f1c2e;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.8rem;
    min-width: 18rem; }
  .calculator-info {
    margin: 0;
    max-width: 11.5625rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem; }
  .calculator input {
    border-radius: 4px;
    border: 1px solid #cfdeee;
    width: 6.125rem;
    height: 3rem;
    margin-right: 2.0625rem;
    font-size: 1.125rem;
    font-weight: 700;
    color: #000000; }
  .calculator__profit {
    padding-top: 0.5rem;
    margin-bottom: 4rem;
    align-items: center;
    display: flex;
    max-width: 80%;
    min-width: 18rem; }
    .calculator__profit:nth-child(2) {
      margin-bottom: 0; }
  .calculator__quantity {
    min-width: 21rem;
    padding-top: 0.5rem;
    margin-bottom: 4rem;
    align-items: center;
    display: flex;
    max-width: 93%; }
    .calculator__quantity:nth-child(2) {
      margin-bottom: 0; }
  .calculator .center__button {
    display: flex;
    justify-content: center; }
  .calculator .button--primary {
    padding: 0.9375rem 1.875rem 0.9375rem 1.8125rem;
    max-width: 100%;
    margin: auto; }

.training {
  padding-top: 7.6rem;
  padding-bottom: 7.3rem;
  background-image: url("../img/bg-training.png"), radial-gradient(circle 677px at center, #03256c 0%, #061826 100%); }
  .training__header {
    max-width: 28.75rem;
    margin: auto;
    margin-bottom: 2.2rem;
    text-align: center;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700; }
  .training .center__button {
    display: flex;
    justify-content: center; }
  .training .button--silver {
    padding: 0.9375rem 2.0625rem; }

.benifit {
  padding-top: 7.2rem;
  padding-bottom: 7.7rem;
  background: url("../img/bg.png") no-repeat bottom, #eaf1f7 url("../img/bg_benifit2.png") no-repeat bottom; }
  .benifit__section-header {
    max-width: 30rem;
    margin: auto;
    margin-bottom: 18.4rem; }
  .benifit__swiper {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 45rem;
    position: relative; }
  .benifit .swiper-container {
    display: flex;
    align-items: center;
    bottom: 0;
    margin: auto; }
  .benifit .swiper-header {
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000; }
  .benifit .swiper-info {
    max-width: 9.375rem;
    margin: auto;
    margin-top: 0.3rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400; }
  .benifit .swiper-slide {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    .benifit .swiper-slide-next .swiper-header, .benifit .swiper-slide-prev .swiper-header {
      margin-top: 5.4rem;
      font-size: 1rem;
      font-weight: 300; }
    .benifit .swiper-slide-next .swiper-info, .benifit .swiper-slide-prev .swiper-info {
      display: none; }
    .benifit .swiper-slide-next .swiper-img, .benifit .swiper-slide-prev .swiper-img {
      display: none; }
    .benifit .swiper-slide-next .swiper-header {
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
    .benifit .swiper-slide-prev .swiper-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
  .benifit .swiper-wrapper {
    display: flex;
    align-items: center;
    z-index: 0; }
  .benifit .swiper-button-next {
    right: 0;
    margin-top: -1.1rem;
    width: 3.5rem;
    background: url("../img/b-next.svg") no-repeat center; }
    .benifit .swiper-button-next::after {
      margin-left: 0rem;
      display: none; }
  .benifit .swiper-button-prev {
    left: 0;
    margin-top: -1.1rem;
    width: 3.5rem;
    background: url("../img/b-next.svg") no-repeat center;
    transform: rotate(180deg); }
    .benifit .swiper-button-prev::after {
      margin-left: 0rem;
      display: none; }

.way {
  padding-top: 7rem;
  padding-bottom: 7.5rem; }
  .way__section-header {
    text-align: center;
    font-size: 2.3rem;
    word-spacing: -1px; }
  .way__section-info {
    max-width: 23.75rem;
    margin: auto;
    margin-top: 1.3rem;
    margin-bottom: 5.8rem;
    font-weight: 400;
    color: #000000; }
  .way__list {
    max-width: 12.5rem;
    text-align: center;
    margin: auto; }
    .way__list-info {
      margin: 5.75rem auto;
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.8rem; }
      .way__list-info:nth-last-child(1) {
        margin-bottom: 5.5rem; }
  .way__video {
    padding: 10rem;
    display: flex;
    max-width: 59rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    background: #f2f2f2 url("../img/wey__video.jpg");
    background-size: cover; }
    .way__video-icon {
      cursor: pointer; }
  .way__sample {
    margin-top: 4.65rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #0f1c2e;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8rem; }
    .way__sample-info {
      margin: auto;
      margin-bottom: 2.8rem;
      text-align: center;
      max-width: 36.25rem;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.5rem;
      color: #000000; }
  .way__button {
    max-width: 35rem;
    margin: auto; }
  .way .button--primary {
    padding: 0.9375rem 2.5625rem; }

.operation {
  position: relative;
  padding-top: 7rem;
  padding-bottom: 6rem; }
  .operation::before {
    content: "";
    position: absolute;
    top: 0;
    width: 80%;
    left: 10%;
    right: 10%;
    margin: auto;
    height: 1px;
    background-color: #eaf1f7; }
  .operation::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 80%;
    left: 10%;
    right: 10%;
    margin: auto;
    height: 1px;
    background-color: #eaf1f7; }
  .operation__section-header {
    margin-bottom: 4rem; }
  .operation__card {
    color: #ffffff;
    padding-top: 9.5rem;
    padding-left: 3rem;
    padding-bottom: 1.5rem;
    margin-bottom: 4.3rem; }
    .operation__card:nth-child(1) {
      background: url("../img/operation__1.png") no-repeat right bottom, url("../img/bg_operation.svg") no-repeat bottom left, radial-gradient(circle 611px at center, #03256c 0%, #061826 100%); }
    .operation__card:nth-child(2) {
      background: url("../img/bg_oper.png") no-repeat bottom right, url("../img/operation_2.png") no-repeat right, radial-gradient(circle 611px at center, #03256c 0%, #061826 100%); }
    .operation__card-header {
      margin-bottom: 0.5rem;
      max-width: 12.5rem;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.8125rem; }
    .operation__card-info {
      max-width: 16.25rem;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.5rem; }
  .operation__col {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; }
    .operation__col-img {
      min-height: 4.6875rem;
      display: flex;
      align-items: center; }
    .operation__col-header {
      margin-top: 2.7rem;
      margin-bottom: 1.6rem; }
    .operation__col-info {
      margin-top: 0;
      max-width: 15.625rem;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.5rem; }
    .operation__col-title {
      font-size: 1rem;
      font-weight: 300; }

.preview {
  padding-top: 6.75rem;
  padding-bottom: 6.55rem;
  background: url("../img/preview.jpg") no-repeat bottom right;
  background-size: cover; }
  .preview__section-header {
    max-width: 500px;
    text-align: left;
    margin-bottom: 0; }
  .preview__col-header {
    margin-top: 6.45rem;
    margin-bottom: 0;
    font-size: 2.3rem;
    font-weight: 700; }
  .preview__col-info {
    margin-top: 1.9rem;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 28.8px; }
  .preview__col-title {
    margin-top: 0rem;
    max-width: 11rem; }

.lesson {
  position: relative;
  padding: 2.85rem 0 7.4rem;
  position: relative;
  background-image: url("../img/lesson-bg.svg"), radial-gradient(circle 1426px at center, #03256c 0%, #061826 100%);
  background-repeat: no-repeat;
  background-position: left bottom;
  color: #ffffff; }
  .lesson .swiper-container {
    position: relative; }
  .lesson .swiper-pagination {
    position: relative;
    top: 4.75rem;
    text-align: right;
    padding-right: 3.75rem;
    font-weight: 100;
    z-index: 3; }
    .lesson .swiper-pagination::before {
      content: "Номер урока:";
      margin-right: 3.2rem;
      font-size: 1rem;
      font-weight: 300;
      color: #777777; }
  .lesson__number {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.625rem;
    margin-bottom: 2.7rem; }
  .lesson__title {
    margin-bottom: 0.4rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8rem; }
  .lesson__list {
    padding-left: 1.875rem;
    max-width: 28.75rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 100; }
    .lesson__list li {
      padding-left: 0.5px;
      letter-spacing: 0.2px;
      margin-bottom: 1.125rem; }
  .lesson__info {
    margin-top: 0.05rem;
    margin-left: 1.9rem;
    max-width: 26rem;
    color: #68799a;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem; }
  .lesson__task {
    padding-left: 1rem;
    margin-top: 8.625rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8rem;
    text-align: left; }
    .lesson__task-list {
      padding-left: 2.1875rem; }
    .lesson__task-home {
      position: relative;
      padding-left: 0.625rem;
      padding-bottom: 4.1875rem;
      max-width: 26.875rem;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.5rem; }
      .lesson__task-home::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        right: 0;
        margin: auto;
        height: 1px;
        background-color: #26556c; }
  .lesson__bonus {
    margin-top: 2.45rem;
    margin-bottom: 0;
    padding-left: 1.2rem; }
  .lesson .bonus__img {
    margin-top: -0.3125rem; }
  .lesson .bonus__header {
    margin-bottom: 0; }
  .lesson .bonus__info {
    display: flex;
    align-items: center;
    margin-top: 0.9rem;
    color: #68799a; }
  .lesson .bonus__title {
    padding-top: 0.4rem;
    margin-left: 1.95rem;
    max-width: 21.25rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem; }
  .lesson__button {
    display: flex;
    justify-content: space-between;
    max-width: 35rem;
    margin: auto;
    margin-top: 4.5rem; }
  .lesson .button--silver {
    font-size: 0.95rem;
    padding: 0.9375rem  3.35rem; }
  .lesson .button--primary {
    font-size: 1rem;
    padding: 0.9375rem  3.25rem; }
  .lesson .swiper-pagination-bullet {
    width: 2.1875rem;
    height: 2.1875rem;
    text-align: center;
    margin: 0;
    line-height: 2.1875rem;
    font-size: 1rem;
    color: #ffffff;
    opacity: 1;
    background-color: transparent;
    z-index: 5; }
  .lesson .swiper-pagination-bullet-active {
    background-color: #06bee1; }
  .lesson .swiper-container-horizontal {
    top: 0;
    bottom: 100%;
    max-width: 100%; }
  .lesson > .swiper-pagination-bullets {
    position: relative; }
  .lesson .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 -0.2px; }
  .lesson .swiper-button-next {
    right: 1.4rem;
    top: 96.5%;
    width: 3.5rem;
    background: url("../img/lesson__b.svg") no-repeat center; }
    .lesson .swiper-button-next::after {
      margin-left: 0rem;
      display: none; }
  .lesson .swiper-button-prev {
    left: 1.4rem;
    top: 96.5%;
    width: 3.5rem;
    background: url("../img/lesson__b.svg") no-repeat center;
    transform: rotate(180deg); }
    .lesson .swiper-button-prev::after {
      margin-left: 0rem;
      display: none; }

.edge {
  padding-top: 6.9rem;
  padding-bottom: 3.7rem;
  background: #eaf1f7; }
  .edge__section-header {
    margin-bottom: 3.4rem; }
  .edge__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem; }
    .edge__row-header {
      text-align: center;
      margin-bottom: 1.75rem; }
  .edge__col {
    display: flex;
    align-items: center; }
    .edge__col-header {
      margin-top: 1.1rem;
      margin-bottom: 0;
      font-size: 1.01rem;
      font-weight: 700; }
    .edge__col-info {
      margin-top: 0.25rem;
      max-width: 19rem;
      text-align: center;
      font-size: 1.01rem;
      line-height: 1.5rem; }

.price {
  padding-top: 7rem;
  padding-bottom: 7.5rem; }
  .price__section-header {
    margin-bottom: 1.6rem; }
  .price__section-info {
    max-width: 21.875rem;
    margin: auto;
    margin-bottom: 3rem;
    text-align: center; }
  .price__row {
    display: flex;
    justify-content: space-between; }
  .price__col {
    text-align: center;
    position: relative; }
    .price__col-info {
      margin-top: 0;
      margin-bottom: 0rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: #06bee1; }
    .price__col:nth-child(2)::before {
      content: '';
      position: absolute;
      background-color: #dde6ec;
      width: 1px;
      height: 100%;
      left: 0;
      top: 0; }
    .price__col:nth-child(2)::after {
      content: '';
      position: absolute;
      background-color: #eaf1f7;
      width: 1px;
      height: 100%;
      right: 0;
      top: 0; }
  .price__list {
    position: relative;
    text-align: center;
    padding: 0;
    margin: 1rem auto 0;
    max-width: 13.75rem;
    min-height: 14.875rem; }
    .price__list li {
      list-style-type: none;
      margin-top: 1rem;
      line-height: 1.8rem; }
  .price .button--info {
    padding: 0.9375rem 3.25rem;
    font-weight: 700; }

.bid {
  padding: 6.38rem 0 7.65rem;
  background: url("../img/bg__bid.jpg"); }
  .bid__dialog {
    max-width: 26.875rem;
    margin: auto; }
    .bid__dialog-header {
      color: #ffffff;
      font-size: 1.5rem;
      font-weight: 700;
      text-align: center; }
    .bid__dialog-info {
      margin: auto;
      margin-bottom: 1.38rem;
      max-width: 24.6875rem;
      font-size: 1rem;
      text-align: center;
      color: #ffffff;
      font-weight: 300;
      line-height: 1.5rem; }
  .bid__form {
    flex-direction: column;
    align-items: center; }
  .bid .button {
    margin-top: 1.8rem; }
    .bid .button--primary {
      padding: 0.9375rem 6.25rem; }

.reviews {
  position: relative;
  padding-top: 6.7rem;
  padding-bottom: 7rem; }
  .reviews::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 80%;
    left: 10%;
    right: 10%;
    margin: auto;
    height: 1px;
    background-color: #eaf1f7; }
  .reviews__section-header {
    margin-bottom: 3.9rem; }
  .reviews__video {
    padding: 10rem;
    display: flex;
    max-width: 59rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    background: #f2f2f2 url("../img/reviews__video.jpg") no-repeat center;
    background-size: cover; }
    .reviews__video-icon {
      cursor: pointer; }
  .reviews__client-name {
    margin-top: 4.5rem;
    text-align: center;
    font-size: 1.5rem; }
  .reviews__client-info {
    max-width: 32.5rem;
    margin: auto;
    text-align: center;
    font-weight: 300;
    line-height: 1.5rem; }

.results {
  padding-top: 7.4rem;
  padding-bottom: 6rem;
  background: url("../img/bg__results.svg") no-repeat left bottom; }
  .results__section-header {
    text-align: left;
    margin-bottom: 1.3rem; }
  .results__section-info {
    text-align: left;
    font-weight: 400;
    line-height: 1.5rem; }
  .results__col {
    text-align: left; }
    .results__col-img {
      max-width: 16.125rem;
      margin-bottom: 1.04rem; }
    .results__col-header {
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.9rem;
      margin-bottom: 0.6rem; }
    .results__col-info {
      max-width: 270px;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.5rem; }

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px; }
  .question__extra {
    padding: 0; } }

@media screen and (max-width: 992px) {
  .col-23-fb, .col-25, .col-40, .col-48-6, .col-49, .col-50 {
    width: 100%; }
  .col-31 {
    min-width: 100%; }
  .benifit {
    display: none; }
  .menu ul {
    display: none; }
  .menu__contacts {
    margin-left: 0; }
  .hero {
    padding-bottom: 8rem; }
    .hero__button {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .hero .button--primary {
      padding: 0.9375rem 6.7rem; }
    .hero .button--info {
      padding: 0.9375rem 6.5rem; }
  .question__info {
    text-align: center; }
  .question__section-header {
    min-width: 100%; }
  .question__extra {
    text-align: center;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .question__description {
    text-align: center;
    min-width: 100%; }
    .question__description-info {
      text-align: center;
      min-width: 100%; }
  .question__text-title {
    margin-top: 0;
    text-align: center;
    max-width: 100%; }
  .question__text-info {
    max-width: 100%; }
  .row {
    flex-direction: column;
    align-items: center; }
  .col {
    align-items: center; }
  .calculator {
    padding-top: 1rem;
    padding-bottom: 3rem; }
    .calculator br {
      display: none; }
    .calculator__row {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
    .calculator__col {
      width: 100%; }
    .calculator-header {
      min-width: 0;
      max-width: 100%;
      text-align: center; }
    .calculator-info {
      min-width: 0;
      max-width: 100%;
      text-align: center; }
    .calculator__profit {
      min-width: 0;
      margin-bottom: 1rem; }
      .calculator__profit:nth-child(2) {
        margin-bottom: 1rem; }
    .calculator__quantity {
      min-width: 0;
      margin-bottom: 1rem; }
      .calculator__quantity:nth-child(2) {
        margin-bottom: 1rem; }
    .calculator__col {
      align-items: flex-start; }
  .lesson {
    padding: 2rem 0 2rem; }
    .lesson .swiper-pagination {
      position: absolute;
      top: 0;
      text-align: center;
      padding-right: 0; }
      .lesson .swiper-pagination::before {
        margin-right: 1rem; }
    .lesson__number {
      margin-top: 4rem; }
    .lesson__task {
      margin-top: 2rem; }
  .way {
    padding-top: 4rem;
    padding-bottom: 4rem; }
    .way__section-info {
      margin-bottom: 3rem; }
    .way__list-info {
      margin: 3.2rem 0; }
      .way__list-info:nth-last-child(1) {
        margin-bottom: 0rem; }
    .way__video {
      padding: 6rem;
      max-width: 50rem;
      background: url("../img/wey__video-min.jpg") no-repeat center; }
    .way__sample {
      margin-top: 1rem; }
    .way .button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .way .button--primary {
        padding: 0.9375rem 0rem;
        font-size: 0.8rem; }
  .operation {
    padding-top: 2rem;
    padding-bottom: 2rem; }
    .operation__card {
      justify-content: left;
      text-align: left; }
      .operation__card-header {
        max-width: 31.25rem;
        text-align: left; }
      .operation__card-info {
        max-width: 18.75rem; }
    .operation__col-info {
      text-align: center;
      max-width: 31.25rem; }
  .preview {
    padding-top: 1.5rem;
    padding: 2rem; }
    .preview__section-header {
      text-align: center;
      margin: auto; }
    .preview__col-header {
      margin-top: 1.5rem; }
    .preview__col-title {
      text-align: center;
      max-width: 16rem; }
  .edge {
    padding-top: 2rem;
    padding-bottom: 1rem; }
  .price__col::before, .price__col::after {
    display: none; }
  .reviews {
    padding-top: 4rem;
    padding-bottom: 4rem; }
    .reviews__video {
      padding: 6rem;
      max-width: 50rem;
      background: url("../img/reviews__video-min.jpg") no-repeat center; }
  .results {
    padding-top: 2rem;
    padding-bottom: 3rem; }
    .results__section-header {
      text-align: center; }
    .results__section-info {
      text-align: center; }
    .results__col {
      margin-top: 5rem;
      text-align: center; } }

@media screen and (max-width: 768px) {
  html {
    font-size: 14px; }
  .header .logo__img {
    display: none; }
  .hero {
    background: url("../img/hero-min.png") no-repeat center;
    background-size: cover; }
    .hero__name {
      font-size: 4rem;
      text-align: center;
      min-width: 100%; }
    .hero__title {
      text-align: center;
      min-width: 100%; }
    .hero__description {
      text-align: center;
      min-width: 100%; }
    .hero__button {
      margin-right: 0; }
    .hero__info {
      display: flex;
      flex-direction: column; }
    .hero__interaction {
      margin-right: 0;
      display: flex;
      flex-direction: column;
      text-align: center; }
    .hero__offer {
      max-width: 100%; }
  .lesson__button {
    flex-direction: column;
    align-items: center; }
  .lesson .button {
    margin-bottom: 2rem; }
    .lesson .button--silver {
      padding: 0.9375rem  6.15rem; }
    .lesson .button--primary {
      padding: 0.9375rem  6.35rem; }
  .lesson .swiper-button-next {
    right: 8rem;
    top: 100%;
    width: 4.5rem;
    background: url("../img/lesson__b.svg") no-repeat center; }
    .lesson .swiper-button-next::after {
      margin-left: 0rem;
      display: none; }
  .lesson .swiper-button-prev {
    left: 8rem;
    top: 100%;
    width: 4.5rem;
    background: url("../img/lesson__b.svg") no-repeat center;
    transform: rotate(180deg); }
    .lesson .swiper-button-prev::after {
      margin-left: 0rem;
      display: none; }
  .price {
    padding-top: 2rem; }
    .price__section-info {
      max-width: 40rem; }
    .price__list {
      min-height: 14rem; }
    .price__row {
      flex-direction: column; } }

@media screen and (max-width: 575px) {
  html {
    font-size: 12px; }
  .container {
    width: 100%;
    margin: 0;
    padding: 10px; }
  .hero {
    padding-bottom: 8rem; }
    .hero__name {
      font-size: 2.5rem; }
    .hero__button {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .hero .button--primary {
      padding: 0.9375rem 6.7rem; }
    .hero .button--info {
      padding: 0.9375rem 6.5rem; }
    .hero .button__name {
      font-size: 2.5rem;
      text-align: center;
      min-width: 100%; }
    .hero .button__title {
      font-size: 1.5rem;
      text-align: center;
      min-width: 100%; }
    .hero .button__description {
      text-align: center;
      min-width: 100%; }
  .question__info {
    font-size: 15.375rem; }
  .question__percent {
    font-size: 5rem; }
  .training {
    padding-top: 2rem;
    padding-bottom: 2rem; }
    .training__header {
      font-size: 1.3rem; } }

.form {
  display: flex; }
  .form__input {
    padding: 0.8rem 0;
    padding-left: 2rem;
    border: none;
    margin-top: 1.35rem;
    border-radius: 4px;
    width: 22.625rem;
    font-size: 1.1875rem;
    font-weight: 400; }
    .form__input::-moz-placeholder {
      font-size: 1.1875rem;
      font-weight: 300; }
    .form__input:-ms-input-placeholder {
      font-size: 1.1875rem;
      font-weight: 300; }
    .form__input::-ms-input-placeholder {
      font-size: 1.1875rem;
      font-weight: 300; }
    .form__input::placeholder {
      font-size: 1.1875rem;
      font-weight: 300; }
