@charset "UTF-8";
.container {
  max-width: 1201px;
  margin: auto;
  padding: 0 1.875rem;
  position: relative; }

.col {
  display: flex;
  flex-direction: column; }

.col-23 {
  max-width: 23%; }

.col-31 {
  max-width: 31.5%; }

.col-40 {
  flex-basis: 40%; }

.col-49 {
  flex-basis: 49%; }

.col-50 {
  flex-basis: 50%; }

.col-60 {
  flex-basis: 60%; }

body {
  padding: 0;
  margin: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

.phone {
  font-family: "Roboto", sans-serif;
  text-decoration: none; }
  .phone__gray {
    color: #777777;
    font-weight: 300; }
  .phone__black {
    color: #000000;
    font-weight: 700; }

.color__blue {
  color: #06bee1; }

.button {
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 700;
  outline: none;
  cursor: pointer; }
  .button--primary {
    font-size: 1rem;
    box-shadow: 0 0.75rem 1.5rem rgba(6, 57, 158, 0.32);
    background-color: #0842b7;
    color: #ffffff;
    border: none;
    transition: 0.2s; }
    .button--primary:hover, .button--primary:active, .button--primary:checked {
      box-shadow: none; }
  .button--info {
    font-size: 0.9375rem;
    color: #0842b7;
    border: 1px solid #0842b7;
    background-color: transparent; }

.row {
  display: flex;
  justify-content: space-between; }
  .row__bottom {
    align-items: flex-start; }

.align-start {
  align-items: flex-start; }

.light {
  font-weight: 300; }

.bold {
  font-weight: 700; }

.section-header {
  margin: 0;
  text-align: center;
  color: #0f1c2e;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 2.625rem; }

.section-info {
  margin: 0;
  text-align: center;
  color: #0f1c2e;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem; }

.label__calculator {
  color: #000000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem; }

input, button {
  outline: none; }
  input:hover, input:active, input:checked, button:hover, button:active, button:checked {
    outline: none; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 10; }

.logo {
  display: flex;
  align-items: center;
  padding-top: 3px; }
  .logo__img {
    padding-top: 4px; }
  .logo__name {
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: #000000;
    margin-left: 0.75rem;
    font-size: 1.25rem;
    font-weight: 900;
    text-transform: uppercase;
    font-variant: small-caps;
    letter-spacing: 0.04rem;
    text-decoration: none; }

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0 27px; }
  .menu__ul {
    padding: 0;
    padding-top: 0.375rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 31.75rem; }
  .menu__link {
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.07rem; }
  .menu__href {
    text-decoration: none;
    color: #777777;
    transition: 0.2s; }
    .menu__href:hover {
      color: #000000; }
    .menu__href:active, .menu__href:checked {
      color: #000000;
      position: relative; }
      .menu__href:active::after, .menu__href:checked::after {
        content: "";
        position: absolute;
        bottom: -33px;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background-color: #0056cf; }
  .menu__contacts {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8rem;
    margin-left: 3.125rem; }

.hero {
  padding: 15.4rem 0 20.4rem;
  background: url("../img/hero.png") no-repeat center;
  background-size: cover; }
  .hero__name {
    margin: 0;
    margin-left: -5px;
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 5.225rem‬;
    color: #000000; }
  .hero__title {
    margin: 0;
    margin-top: -3px;
    font-size: 2.25rem;
    font-weight: 300; }
  .hero__description {
    margin: 1.374rem 0 4rem;
    max-width: 22.5rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.56rem; }
  .hero__interaction {
    display: flex;
    margin-bottom: 17.2rem; }
  .hero__button {
    display: flex;
    flex-direction: column;
    margin-right: 3.3125rem; }
  .hero .button--primary {
    padding: 0.9375rem 2.5rem;
    word-spacing: -1px;
    margin-bottom: 0.75rem; }
  .hero .button--info {
    padding: 0.9375rem 2.125rem;
    word-spacing: -1px; }
  .hero__offer {
    margin: 0;
    padding-top: 0.875rem;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.8125rem;
    max-width: 20.3125rem;
    color: #0f1c2e; }

.question {
  padding-top: 1rem;
  padding-bottom: 6rem;
  position: relative; }
  .question .top {
    margin-top: -21.4rem; }
  .question__title-header {
    margin: 0;
    display: block;
    max-width: 293px;
    padding: 0.8125rem 1.4375rem 0.875rem 0.875rem;
    color: #000000;
    font-size: 2.3125rem;
    font-weight: 300;
    background-color: #ffffff; }
  .question__info {
    margin: 0;
    margin-top: 10.37rem;
    margin-left: -1.1rem;
    margin-bottom: 2.7rem;
    max-height: 100%;
    font-size: 21.375rem;
    font-weight: 100;
    line-height: 5.056875rem;
    letter-spacing: -1.06255rem; }
  .question__percent {
    margin-left: -2.31255rem;
    font-size: 7rem;
    font-weight: 100; }
  .question__description {
    margin-bottom: 0.5rem;
    max-width: 16.9375rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8625rem;
    color: #0f1c2e; }
    .question__description-info {
      max-width: 13.875rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem; }
  .question .analysis {
    margin-top: 1.0625rem; }
  .question__text-title {
    margin-top: 4.3rem;
    margin-bottom: 0.5rem;
    max-width: 11.8755rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8625rem;
    color: #0f1c2e; }
  .question__text-info {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: #000000;
    max-width: 16.8755rem; }
  .question__offer {
    width: 100%; }
  .question__extra {
    margin-top: -1.8rem;
    justify-content: flex-end; }

.calculator {
  position: relative;
  padding-top: 6.6rem;
  padding-bottom: 7.5rem;
  background: url("../img/bg_calc.svg") no-repeat bottom; }
  .calculator::before {
    content: "";
    position: absolute;
    top: 0;
    width: 80%;
    left: 10%;
    right: 10%;
    margin: auto;
    height: 1px;
    background-color: #eaf1f7; }
  .calculator__section-header {
    max-width: 31.25rem;
    margin: 0 auto;
    margin-bottom: 1.4rem; }
  .calculator__section-info {
    max-width: 22.875rem;
    margin: 0 auto;
    margin-bottom: 3.45rem; }
  .calculator__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.45rem; }
  .calculator-header {
    margin: 0;
    max-width: 17.1875rem;
    margin-bottom: 2rem;
    color: #0f1c2e;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.8rem;
    min-width: 18rem; }
  .calculator-info {
    margin: 0;
    max-width: 11.5625rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem; }
  .calculator input {
    border-radius: 4px;
    border: 1px solid #cfdeee;
    width: 6.125rem;
    height: 3rem;
    margin-right: 2.0625rem;
    font-size: 1.125rem;
    font-weight: 700;
    color: #000000; }
  .calculator__profit {
    padding-top: 0.5rem;
    margin-bottom: 4rem;
    align-items: center;
    display: flex;
    max-width: 80%;
    min-width: 18rem; }
    .calculator__profit:nth-child(2) {
      margin-bottom: 0; }
  .calculator__quantity {
    min-width: 21rem;
    padding-top: 0.5rem;
    margin-bottom: 4rem;
    align-items: center;
    display: flex;
    max-width: 93%; }
    .calculator__quantity:nth-child(2) {
      margin-bottom: 0; }
  .calculator__button {
    display: flex;
    justify-content: center; }
  .calculator .button--primary {
    padding: 0.9375rem 1.875rem 0.9375rem 1.8125rem;
    max-width: 100%;
    margin: auto; }

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px; }
  .question__extra {
    padding: 0; } }

@media screen and (max-width: 992px) {
  .col-40, .col-49, .col-50 {
    width: 100%; }
  .col-31 {
    min-width: 100%; }
  .menu ul {
    display: none; }
  .menu__contacts {
    margin-left: 0; }
  .question__info {
    text-align: center; }
  .question__section-header {
    min-width: 100%; }
  .question__extra {
    text-align: center;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .question__description {
    text-align: center;
    min-width: 100%; }
    .question__description-info {
      text-align: center;
      min-width: 100%; }
  .question__text-title {
    margin-top: 0;
    text-align: center;
    max-width: 100%; }
  .question__text-info {
    max-width: 100%; }
  .row {
    flex-direction: column;
    align-items: center; }
  .col {
    align-items: center; }
  .calculator {
    padding-top: 1rem;
    padding-bottom: 3rem; }
    .calculator::before {
      display: none; }
    .calculator br {
      display: none; }
    .calculator__row {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
    .calculator__col {
      width: 100%; }
    .calculator-header {
      min-width: 0;
      max-width: 100%;
      text-align: center; }
    .calculator-info {
      min-width: 0;
      max-width: 100%;
      text-align: center; }
    .calculator__profit {
      min-width: 0;
      margin-bottom: 1rem; }
      .calculator__profit:nth-child(2) {
        margin-bottom: 1rem; }
    .calculator__quantity {
      min-width: 0;
      margin-bottom: 1rem; }
      .calculator__quantity:nth-child(2) {
        margin-bottom: 1rem; }
    .calculator__col {
      align-items: flex-start; } }

@media screen and (max-width: 768px) {
  html {
    font-size: 14px; }
  .header .logo__img {
    display: none; }
  .hero {
    background: url("../img/hero-min.png") no-repeat center;
    background-size: cover; }
    .hero__name {
      font-size: 4rem;
      text-align: center;
      min-width: 100%; }
    .hero__title {
      text-align: center;
      min-width: 100%; }
    .hero__description {
      text-align: center;
      min-width: 100%; }
    .hero__button {
      margin-right: 0; }
    .hero__info {
      display: flex;
      flex-direction: column; }
    .hero__interaction {
      margin-right: 0;
      display: flex;
      flex-direction: column;
      text-align: center; }
    .hero__offer {
      max-width: 100%; } }

@media screen and (max-width: 575px) {
  html {
    font-size: 12px; }
  .container {
    width: 100%;
    margin: 0;
    padding: 10px; }
  .hero__name {
    font-size: 2.5rem;
    text-align: center;
    min-width: 100%; }
  .hero__title {
    font-size: 1.5rem;
    text-align: center;
    min-width: 100%; }
  .hero__description {
    text-align: center;
    min-width: 100%; }
  .question__info {
    font-size: 15.375rem; }
  .question__percent {
    font-size: 5rem; } }
