.container {
  max-width: 1201px;
  margin: auto;
  padding: 0 1.875rem;
  position: relative;
}

.col {
  display: flex;
  flex-direction: column;
}


.col-47 {
  max-width: 47%;
}
.col-48 {
  max-width: 48%;
}
.col-49 {
  max-width: 49%;
}
.col-50 {
  max-width: 50%;
}

.col-51 {
  max-width: 51%;
}
.col-52 {
  max-width: 52%;
}

