@media screen and (max-width:1200px){
  html {
    font-size: 14px;
  }
  .question{
    &__extra{
      padding: 0;
    }
  }
}

@media screen and (max-width:992px){
  
.col-25,.col-40, .col-48-6,.col-49, .col-50{
  width: 100%;
}
.col-31 {
  min-width: 100%;
}
.benifit {
  display: none;
}
  .menu {
    ul{
      display: none;
  }
  &__contacts {
    margin-left: 0;
  }
}
.hero {
  padding-bottom: 8rem;
  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button {
    &--primary {
      padding: 0.9375rem 6.7rem;

    }
    &--info {
      padding: 0.9375rem 6.5rem;

    }
  }
}
.question {
  &__info {
    text-align: center;
  }
  &__section {
    &-header {
      min-width: 100%;
    }
  }
  &__extra {
    text-align: center;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__description {
    text-align: center;
    min-width: 100%;
    &-info {
      text-align: center;
      min-width: 100%;
    }
  }
  &__text-title {
    margin-top: 0;
    text-align: center;
    max-width: 100%;
  }
  &__text-info {

    max-width: 100%;
  }
}
.row {
  flex-direction: column;
  align-items: center;
}
.col {
  align-items: center;
}
.calculator {
  padding-top: 1rem;
  padding-bottom: 3rem;
  &::before {
    display: none;
  }
  br {
    display: none;
  }
  &__row {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &__col {
    width: 100%;
  }
  &-header {
    min-width: 0;
    max-width: 100%;
    text-align: center;
    
  }
  &-info {
    min-width: 0;
    max-width: 100%;
    text-align: center;
  }
  &__profit {
    min-width: 0;
    margin-bottom: 1rem;
    &:nth-child(2){
      margin-bottom: 1rem;
    }
  }
  &__quantity{
    min-width: 0;
    margin-bottom: 1rem;
    &:nth-child(2){
      margin-bottom: 1rem;
    }
  }
  &__col {
    align-items: flex-start;
  }
}
.lesson {
  padding: 2rem 0 2rem;
  .swiper-pagination {
    position: absolute;
    top: 0;
    text-align: center;
    padding-right: 0;
    &::before {
      margin-right: 1rem;
    }
  }
  &__number {
    margin-top: 4rem;
  }
  &__task {
    margin-top: 2rem;
  }
  
}
.way {
  padding-top: 4rem;
  padding-bottom: 4rem;
  &__section {
    &-info {
      margin-bottom: 3rem;
    }
  }
  &__list {
    &-info {
      margin: 3.2rem 0;
      &:nth-last-child(1){
        margin-bottom: 0rem;
      }
    }
  }
  &__video {
    padding:6rem;
    max-width: 50rem;
    background: url('../img/wey__video-min.jpg') no-repeat center;
  }
  &__sample {
    margin-top: 1rem;
  }
  .button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &--primary {
      padding: 0.9375rem 0rem;
      font-size: 0.8rem;
    }
  }
}
.operation {
  &__card{
    justify-content: left;
    text-align: left;
    &-header {
      max-width: 31.25rem;
      text-align: left;
    }
    &-info {
      max-width: 18.75rem; 
    }
  }
  &__col {
    &-info {
      text-align: center;
      max-width: 31.25rem;
    }
  }
}
}


@media screen and (max-width:768px){
  html {
    font-size: 14px;
  }
  .header {
    .logo__img {
      display: none;
    }
  }
  .hero {
    background: url('../img/hero-min.png') no-repeat center;
    background-size: cover;
    &__name {
      font-size: 4rem;
      text-align: center;
      min-width: 100%;
    }
    &__title {
      text-align: center;
      min-width: 100%;
    }
    &__description {
      text-align: center;
      min-width: 100%;
    }
    &__button {
      margin-right: 0;
    }
    &__info {
      display: flex;
      flex-direction: column;
    }
    &__interaction {
      margin-right: 0;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    &__offer {
      max-width: 100%;
    }
  }
  .lesson {
    &__button {
      flex-direction: column;
      align-items: center;
    }
    .button {
      margin-bottom: 2rem;
      &--silver {
        padding: 0.9375rem  6.15rem;
      }
      &--primary {
        padding: 0.9375rem  6.35rem;
      }
    }
    .swiper {
      &-button-next {
        right: 8rem;
        top: 100%;
        width: 4.5rem;
        background: url('../img/lesson__b.svg') no-repeat center;
        &::after {
          margin-left: 0rem;
          display: none;
        }
      }
      &-button-prev {
        left: 8rem;
        top: 100%;
        width: 4.5rem;
        background: url('../img/lesson__b.svg') no-repeat center;
        transform: rotate(180deg);
        &::after {
          margin-left: 0rem;
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width:575px){
  html {
    font-size: 12px;
  }
  
  .container {
    width: 100%;
    margin: 0;
    padding: 10px;
  }

  .hero {
    padding-bottom: 8rem;
    &__name {
      font-size: 2.5rem;
    }
  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button {
    &--primary {
      padding: 0.9375rem 6.7rem;
      
    }
    &--info {
      padding: 0.9375rem 6.5rem;

    }
    &__name {
      font-size: 2.5rem;
      text-align: center;
      min-width: 100%;
    }
    &__title {
      font-size: 1.5rem;
      text-align: center;
      min-width: 100%;
    }
    &__description {
      text-align: center;
      min-width: 100%;
    }
}

}
.question {
  &__info {
    font-size: 15.375rem;
  }
  &__percent {
    font-size: 5rem;
  }
}
.training {
  padding-top: 2rem;
  padding-bottom: 2rem;
  &__header {
    font-size: 1.3rem;
  }
}
}