.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 199;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  &--visible {
    opacity: 1;
    visibility: visible;
  }
  &__dialog {
    position: relative;
    padding: 1.5rem 3rem 1rem;
    color: $light;
    box-shadow: 0 0.75rem 1.5rem rgba($primary, 0.32);
    max-width: 36.36rem;
    background: radial-gradient(circle 677px at center, #03256c 0%, #061826 100%);
    border-radius: 10px;
  }
  &__close {
    position: absolute;
    margin: 12px;
    right: 0;
    top: 0; 
    width: 28px;
    height: 28px;
    background: transparent url('../img/close.svg') no-repeat center;
    border: none;
    cursor: pointer;
  }
  &__title {
    margin: 0;
    font-size: 1.357rem;
    font-weight: normal;
    text-align: center;
    line-height: 2rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    
  }
  &__input {
    color: $light;
    &::placeholder {
      color: $light;
    }
    
  }

  &__policy {
    margin-bottom: 2.78rem;
  }
  &__button {
    align-self: flex-end;
    padding: 1rem 1rem;
  }
  &__input-group {
    display: flex;
    flex-direction: column;

    &:nth-child(3){
      margin-bottom: 8px;
    }
  }
}

.policy {
  &__checkbox {
    opacity: 0;
    visibility: hidden;
    
    &:checked ~
    .policy__label {
      
      &::before {
        background: transparent url('../img/check.svg') no-repeat center;
        
      }
    }
  }
  



  &__label {
    display: flex;
    align-items: center;
    font-size: 1.14rem;
    
    &::before {
      content: '';
      width: 18px;
      height: 18px;
      border: 1px solid $light;
      border-radius: 1px;
      cursor: pointer;
      margin-right: 0.64rem;
    }
  }

  &-center {
    justify-content: center;
  }
}


.thank {
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3.5714rem;
  &--visible {
    opacity: 1;
    visibility: visible;
    z-index: 200;
  }
  &__text {
    color: $light;
    text-transform: uppercase;
    font-size: 1rem;
    max-width: 80rem;
    background-color: $primary;
    border: 1px solid $dark;
    padding: 2.1428rem 3.5714rem;
  }
}