body {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.phone {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  
  &__gray {
    color: $gray;
    font-weight: 300;
  }
  &__black {
    color: $black;
    font-weight: 700;
  }
}

.color{
  &__blue {
    color: $blue;
  }
}

.button {
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  &--primary{
    font-size: 1rem;
    box-shadow: 0 0.75rem 1.5rem rgba(6, 57, 158, 0.32);
    background-color: $primary;
    color: $light;
    border: none;
    transition: 0.2s;
    &:hover, &:active, &:checked {
      box-shadow: none;
    }
  }
  &--info {
    font-size: 0.9375rem;
    color: $primary;
    border: 1px solid $primary;
    background-color: transparent;
  }
  &--silver {
    font-size: 1rem;
    color: $light;
    border: 1px solid $light;
    background-color: transparent;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  
  &__bottom {
    align-items: flex-start;
  }
}

.align-start {
  align-items: flex-start;
}

.light {
  font-weight: 300;
}
.bold {
  font-weight: 700;
}

.section{
  &-header {
    margin: 0;
    text-align: center;
    color: $dark;
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 2.625rem;
  }
  &-info {
    margin: 0;
    text-align: center;
    color: $dark;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
  }
}

.label {
  &__calculator {
    color: $black;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
}

input, button {
  outline: none;
  &:hover, &:active, &:checked {
    outline: none;
  }
}