.hero {
  padding: 15.4rem 0 20.4rem;
  background: url("../img/hero.png") no-repeat center;
  background-size: cover;
  &__name {
    margin: 0;
    margin-left: -5px;
    font-size:4.5rem;
    font-weight: 300;
    line-height: 5.225rem‬;
    color: $black;
  }
  &__title {
    margin: 0;
    margin-top: -3px;
    font-size: 2.25rem;
    font-weight: 300;
  }
  &__description {
    margin: 1.374rem 0 4rem;
    max-width: 22.5rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.56rem;
  }
  &__interaction {
    display: flex;
    margin-bottom: 17.2rem;
  }
  &__button {
    display: flex;
    flex-direction: column;
    margin-right: 3.3125rem;
  }
  .button {
    &__primary {
      padding: 0.9375rem 2.5rem;
      
      word-spacing: -1px;
      margin-bottom: 0.75rem;
    }
    &__info {
      padding: 0.9375rem 2.125rem;
      
      word-spacing: -1px;
    }
  }
  &__offer {
    margin: 0;
    padding-top: 0.875rem;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.8125rem;
    max-width: 20.3125rem;
    color: $dark;
  }
  
}