.lesson {
  padding: 2.85rem 0 10rem;
  position: relative;
  background-image:url('../img/lesson-bg.svg'), radial-gradient(circle 1426px at center, #03256c 0%, #061826 100%);
  background-repeat: no-repeat;
  background-position: left bottom;
  color: $light;
  .swiper-container {
    position: relative;
  }
  .swiper-pagination {
    position: relative;
    top: 75px;
    text-align: right;
    padding-right: 63px;
    font-weight: 100;
    &::before {
      content: "Номер урока:";
      margin-right: 3.2rem;
      font-size: 1rem;
      font-weight: 300;
      color: $gray;

    }
  }
  &__number {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 2.6rem;
  }
  &__title {
    margin-bottom: 0.4rem;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
  }
  &__list {
    padding-left: 30px;
    max-width: 460px;
    color: rgba($light, $alpha: 1.0);
    font-size: 24px;
    font-weight: 100;
    
    li {
      padding-left: 2px;
      letter-spacing: 0.2px;
      margin-bottom: 18.8px;
    }
  }
  &__info {
    margin-top: 0.05rem;
    margin-left: 1.9rem;
    max-width: 26rem;
    color: #68799a;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
  }
  &__task {
    margin-top: 223px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;
  }
}
.swiper-pagination-bullet {
  width: 35px;
  height: 35px;
  text-align: center;
  margin: 0;
  line-height: 35px;
  font-size: 1rem;
  color:$light;
  opacity: 1;
  background-color: transparent;
}
.swiper-pagination-bullet-active {
  background-color: $blue;
}
.swiper-container-horizontal{
  
  top: 0;
  bottom: 100%;
  max-width: 100%;
} >.swiper-pagination-bullets {
  position: relative;
  
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 -0.2px;
}